<html>

  {# XXX make this prettier #}

  <body>
    {% for img in group %}
      <div style="vertical-align: top; display: inline-block;">
      <b>{{ loop.index }}</b>: {{ img.path }} - {{ img.width }} x {{ img.height }}<br>
      <img src="/group/{{ group_idx }}/image/{{ loop.index0 }}" width="800px">
    </div>
    {% endfor %}
  </body>

  <script>
    const deleteImage = function(image_idx) {
      fetch(`/group/{{ group_idx }}/image/${ image_idx }`, { method: 'DELETE' })
        .then(_ => {
          location.reload(true);
        });
    }

    const keyHandler = function(event) {
      switch (event.code) {
        case 'Digit1':
          deleteImage(0);
          break;
        case 'Digit2':
          deleteImage(1);
          break;
        case 'Digit3':
          deleteImage(2);
          break;
        case 'Digit4':
          deleteImage(3);
          break;
        case 'Digit5':
          deleteImage(4);
          break;
        case 'Digit6':
          deleteImage(5);
          break;
        {% if group_idx > 0 %}
        case 'KeyP':
          document.location.href = "/group/{{ group_idx - 1 }}";
        {% endif %}
        {% if is_next_group %}
        case 'KeyN':
          document.location.href = "/group/{{ group_idx + 1 }}";
        {% endif %}
      }
    }

    window.onload = function() {
        window.addEventListener('keyup', keyHandler);
    }
  </script>

</html>
